* {
  font-family: 'Helvetica', sans-serif;
}

.imageSet img {
  max-width: 250px;
  max-height: 200px;
}

.imageSet {
  border-style: inset ;
}

.imageSet:hover {
  border-style: groove;
}

.imageSet:hover img {
  transform: rotate(-10deg);
}

img:hover ~ img {
  transform: translateY(15px);
  opacity: 0.5;
  transform: rotate(10deg);
}


.imageSet img:hover {
  transition-duration: 100ms;
  transition-timing-function: linear;
  opacity: 0.9;
  transform: scale(1.1);
  transform: translateY(-15px);
  border-radius: 10;
  border-style: dotted;
  border-radius: 50%;

}

.imageSet img:active {
  transition-duration: 50ms;
  transition-timing-function: linear;
  outline: 2px solid red;
  transform: rotate(180deg);
  transform: scale(2);
  border-radius: 50%;
  opacity: 0.0;
}

/*reference*/
/*https://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/*/
.imageSet img:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
